

body {
	font-family: "Microsoft YaHei" ;
	background-color: #E6ECE9;
}


#signup {
	background-color: #24A117 ;
}

#submitTrueName {
	background-color: #24A117 ;
}

.am-list-body .am-list-item .am-list-content {
	color: #0b0c0ccc ;
}